@font-face {
	font-family: 'AGaramondPro-Bold';
	src: url('AGaramondPro-Bold.eot?') format('eot'), 
	     url('AGaramondPro-Bold.otf')  format('opentype'),
	     url('AGaramondPro-Bold.woff') format('woff'), 
	     url('AGaramondPro-Bold.ttf')  format('truetype'),
	     url('AGaramondPro-Bold.svg#AGaramondPro-Bold') format('svg');
}
@font-face {
	font-family: 'AGaramondPro-BoldItalic';
	src: url('AGaramondPro-BoldItalic.eot?') format('eot'), 
	     url('AGaramondPro-BoldItalic.otf')  format('opentype'),
	     url('AGaramondPro-BoldItalic.woff') format('woff'), 
	     url('AGaramondPro-BoldItalic.ttf')  format('truetype'),
	     url('AGaramondPro-BoldItalic.svg#AGaramondPro-BoldItalic') format('svg');
}
@font-face {
	font-family: 'AGaramondPro-Italic';
	src: url('AGaramondPro-Italic.eot?') format('eot'), 
	     url('AGaramondPro-Italic.otf')  format('opentype'),
	     url('AGaramondPro-Italic.woff') format('woff'), 
	     url('AGaramondPro-Italic.ttf')  format('truetype'),
	     url('AGaramondPro-Italic.svg#AGaramondPro-Italic') format('svg');
}
@font-face {
	font-family: 'AGaramondPro-Regular';
	src: url('AGaramondPro-Regular.eot?') format('eot'), 
	     url('AGaramondPro-Regular.otf')  format('opentype'),
	     url('AGaramondPro-Regular.woff') format('woff'), 
	     url('AGaramondPro-Regular.ttf')  format('truetype'),
	     url('AGaramondPro-Regular.svg#AGaramondPro-Regular') format('svg');
}
@font-face {
	font-family: 'AGaramondPro-Semibold';
	src: url('AGaramondPro-Semibold.eot?') format('eot'), 
	     url('AGaramondPro-Semibold.otf')  format('opentype'),
	     url('AGaramondPro-Semibold.woff') format('woff'), 
	     url('AGaramondPro-Semibold.ttf')  format('truetype'),
	     url('AGaramondPro-Semibold.svg#AGaramondPro-Semibold') format('svg');
}
@font-face {
	font-family: 'AGaramondPro-SemiboldItalic';
	src: url('AGaramondPro-SemiboldItalic.eot?') format('eot'), 
	     url('AGaramondPro-SemiboldItalic.otf')  format('opentype'),
	     url('AGaramondPro-SemiboldItalic.woff') format('woff'), 
	     url('AGaramondPro-SemiboldItalic.ttf')  format('truetype'),
	     url('AGaramondPro-SemiboldItalic.svg#AGaramondPro-SemiboldItalic') format('svg');
}