@font-face {
	font-family: 'GothamNarrow-Black';
	src: url('gotham narrow/GothamNarrow-Black.eot?') format('eot'), 
	     url('gotham narrow/GothamNarrow-Black.otf')  format('opentype'),
	     url('gotham narrow/GothamNarrow-Black.woff') format('woff'), 
	     url('gotham narrow/GothamNarrow-Black.ttf')  format('truetype'),
	     url('gotham narrow/GothamNarrow-Black.svg#GothamNarrow-Black') format('svg');
}
@font-face {
	font-family: 'GothamNarrow-BlackItalic';
	src: url('gotham narrow/GothamNarrow-BlackItalic.eot?') format('eot'), 
	     url('gotham narrow/GothamNarrow-BlackItalic.otf')  format('opentype'),
	     url('gotham narrow/GothamNarrow-BlackItalic.woff') format('woff'), 
	     url('gotham narrow/GothamNarrow-BlackItalic.ttf')  format('truetype'),
	     url('gotham narrow/GothamNarrow-BlackItalic.svg#GothamNarrow-BlackItalic') format('svg');
}

@font-face {
	font-family: 'GothamNarrow-Bold';
	src: url('gotham narrow/GothamNarrow-Bold.eot?') format('eot'), 
	     url('gotham narrow/GothamNarrow-Bold.otf')  format('opentype'),
	     url('gotham narrow/GothamNarrow-Bold.woff') format('woff'), 
	     url('gotham narrow/GothamNarrow-Bold.ttf')  format('truetype'),
	     url('gotham narrow/GothamNarrow-Bold.svg#GothamNarrow-Bold') format('svg');
}

@font-face {
	font-family: 'GothamNarrow-BoldItalic';
	src: url('gotham narrow/GothamNarrow-BoldItalic.eot?') format('eot'), 
	     url('gotham narrow/GothamNarrow-BoldItalic.otf')  format('opentype'),
	     url('gotham narrow/GothamNarrow-BoldItalic.woff') format('woff'), 
	     url('gotham narrow/GothamNarrow-BoldItalic.ttf')  format('truetype'),
	     url('gotham narrow/GothamNarrow-BoldItalic.svg#GothamNarrow-BoldItalic') format('svg');
}

@font-face {
	font-family: 'GothamNarrow-Book';
	src: url('gotham narrow/GothamNarrow-Book.eot?') format('eot'), 
	     url('gotham narrow/GothamNarrow-Book.otf')  format('opentype'),
	     url('gotham narrow/GothamNarrow-Book.woff') format('woff'), 
	     url('gotham narrow/GothamNarrow-Book.ttf')  format('truetype'),
	     url('gotham narrow/GothamNarrow-Book.svg#GothamNarrow-Book') format('svg');
}

@font-face {
	font-family: 'GothamNarrow-BookItalic';
	src: url('gotham narrow/GothamNarrow-BookItalic.eot?') format('eot'), 
	     url('gotham narrow/GothamNarrow-BookItalic.otf')  format('opentype'),
	     url('gotham narrow/GothamNarrow-BookItalic.woff') format('woff'), 
	     url('gotham narrow/GothamNarrow-BookItalic.ttf')  format('truetype'),
	     url('gotham narrow/GothamNarrow-BookItalic.svg#GothamNarrow-BookItalic') format('svg');
}

@font-face {
	font-family: 'GothamNarrow-Light';
	src: url('gotham narrow/GothamNarrow-Light.eot?') format('eot'), 
	     url('gotham narrow/GothamNarrow-Light.otf')  format('opentype'),
	     url('gotham narrow/GothamNarrow-Light.woff') format('woff'), 
	     url('gotham narrow/GothamNarrow-Light.ttf')  format('truetype'),
	     url('gotham narrow/GothamNarrow-Light.svg#GothamNarrow-Light') format('svg');
}

@font-face {
	font-family: 'GothamNarrow-LightItalic';
	src: url('gotham narrow/GothamNarrow-LightItalic.eot?') format('eot'), 
	     url('gotham narrow/GothamNarrow-LightItalic.otf')  format('opentype'),
	     url('gotham narrow/GothamNarrow-LightItalic.woff') format('woff'), 
	     url('gotham narrow/GothamNarrow-LightItalic.ttf')  format('truetype'),
	     url('gotham narrow/GothamNarrow-LightItalic.svg#GothamNarrow-LightItalic') format('svg');
}

@font-face {
	font-family: 'GothamNarrow-Medium';
	src: url('gotham narrow/GothamNarrow-Medium.eot?') format('eot'), 
	     url('gotham narrow/GothamNarrow-Medium.otf')  format('opentype'),
	     url('gotham narrow/GothamNarrow-Medium.woff') format('woff'), 
	     url('gotham narrow/GothamNarrow-Medium.ttf')  format('truetype'),
	     url('gotham narrow/GothamNarrow-Medium.svg#GothamNarrow-Medium') format('svg');
}

@font-face {
	font-family: 'GothamNarrow-MediumItalic';
	src: url('gotham narrow/GothamNarrow-MediumItalic.eot?') format('eot'), 
	     url('gotham narrow/GothamNarrow-MediumItalic.otf')  format('opentype'),
	     url('gotham narrow/GothamNarrow-MediumItalic.woff') format('woff'), 
	     url('gotham narrow/GothamNarrow-MediumItalic.ttf')  format('truetype'),
	     url('gotham narrow/GothamNarrow-MediumItalic.svg#GothamNarrow-MediumItalic') format('svg');
}

@font-face {
	font-family: 'GothamNarrow-Thin';
	src: url('gotham narrow/GothamNarrow-Thin.eot?') format('eot'), 
	     url('gotham narrow/GothamNarrow-Thin.otf')  format('opentype'),
	     url('gotham narrow/GothamNarrow-Thin.woff') format('woff'), 
	     url('gotham narrow/GothamNarrow-Thin.ttf')  format('truetype'),
	     url('gotham narrow/GothamNarrow-Thin.svg#GothamNarrow-Thin') format('svg');
}

@font-face {
	font-family: 'GothamNarrow-ThinItalic';
	src: url('gotham narrow/GothamNarrow-ThinItalic.eot?') format('eot'), 
	     url('gotham narrow/GothamNarrow-ThinItalic.otf')  format('opentype'),
	     url('gotham narrow/GothamNarrow-ThinItalic.woff') format('woff'), 
	     url('gotham narrow/GothamNarrow-ThinItalic.ttf')  format('truetype'),
	     url('gotham narrow/GothamNarrow-ThinItalic.svg#GothamNarrow-ThinItalic') format('svg');
}

@font-face {
	font-family: 'GothamNarrow-Ultra';
	src: url('gotham narrow/GothamNarrow-Ultra.eot?') format('eot'), 
	     url('gotham narrow/GothamNarrow-Ultra.otf')  format('opentype'),
	     url('gotham narrow/GothamNarrow-Ultra.woff') format('woff'), 
	     url('gotham narrow/GothamNarrow-Ultra.ttf')  format('truetype'),
	     url('gotham narrow/GothamNarrow-Ultra.svg#GothamNarrow-Ultra') format('svg');
}

@font-face {
	font-family: 'GothamNarrow-UltraItalic';
	src: url('gotham narrow/GothamNarrow-UltraItalic.eot?') format('eot'), 
	     url('gotham narrow/GothamNarrow-UltraItalic.otf')  format('opentype'),
	     url('gotham narrow/GothamNarrow-UltraItalic.woff') format('woff'), 
	     url('gotham narrow/GothamNarrow-UltraItalic.ttf')  format('truetype'),
	     url('gotham narrow/GothamNarrow-UltraItalic.svg#GothamNarrow-UltraItalic') format('svg');
}

@font-face {
	font-family: 'GothamNarrow-XLight';
	src: url('gotham narrow/GothamNarrow-XLight.eot?') format('eot'), 
	     url('gotham narrow/GothamNarrow-XLight.otf')  format('opentype'),
	     url('gotham narrow/GothamNarrow-XLight.woff') format('woff'), 
	     url('gotham narrow/GothamNarrow-XLight.ttf')  format('truetype'),
	     url('gotham narrow/GothamNarrow-XLight.svg#GothamNarrow-XLight') format('svg');
}

@font-face {
	font-family: 'GothamNarrow-XLightItalic';
	src: url('gotham narrow/GothamNarrow-XLightItalic.eot?') format('eot'), 
	     url('gotham narrow/GothamNarrow-XLightItalic.otf')  format('opentype'),
	     url('gotham narrow/GothamNarrow-XLightItalic.woff') format('woff'), 
	     url('gotham narrow/GothamNarrow-XLightItalic.ttf')  format('truetype'),
	     url('gotham narrow/GothamNarrow-XLightItalic.svg#GothamNarrow-XLightItalic') format('svg');
}