@font-face {
	font-family: 'gotham-extra-narrow-bold-italic';
	src: url('Gotham extra-narrow/gotham-extra-narrow-bold-italic.eot?') format('eot'), 
	     url('Gotham extra-narrow/gotham-extra-narrow-bold-italic.otf')  format('opentype'),
	     url('Gotham extra-narrow/gotham-extra-narrow-bold-italic.woff') format('woff'), 
	     url('Gotham extra-narrow/gotham-extra-narrow-bold-italic.ttf')  format('truetype'),
	     url('Gotham extra-narrow/gotham-extra-narrow-bold-italic.svg#gotham-extra-narrow-bold-italic') format('svg');
}
@font-face {
	font-family: 'gotham-extra-narrow-bold';
	src: url('Gotham extra-narrow/gotham-extra-narrow-bold.eot?') format('eot'), 
	     url('Gotham extra-narrow/gotham-extra-narrow-bold.otf')  format('opentype'),
	     url('Gotham extra-narrow/gotham-extra-narrow-bold.woff') format('woff'), 
	     url('Gotham extra-narrow/gotham-extra-narrow-bold.ttf')  format('truetype'),
	     url('Gotham extra-narrow/gotham-extra-narrow-bold.svg#gotham-extra-narrow-bold') format('svg');
}
@font-face {
	font-family: 'gotham-extra-narrow-book-italic';
	src: url('Gotham extra-narrow/gotham-extra-narrow-book-italic.eot?') format('eot'), 
	     url('Gotham extra-narrow/gotham-extra-narrow-book-italic.otf')  format('opentype'),
	     url('Gotham extra-narrow/gotham-extra-narrow-book-italic.woff') format('woff'), 
	     url('Gotham extra-narrow/gotham-extra-narrow-book-italic.ttf')  format('truetype'),
	     url('Gotham extra-narrow/gotham-extra-narrow-book-italic.svg#gotham-extra-narrow-book-italic') format('svg');
}
@font-face {
	font-family: 'gotham-extra-narrow-book';
	src: url('Gotham extra-narrow/gotham-extra-narrow-book.eot?') format('eot'), 
	     url('Gotham extra-narrow/gotham-extra-narrow-book.otf')  format('opentype'),
	     url('Gotham extra-narrow/gotham-extra-narrow-book.woff') format('woff'), 
	     url('Gotham extra-narrow/gotham-extra-narrow-book.ttf')  format('truetype'),
	     url('Gotham extra-narrow/gotham-extra-narrow-book.svg#gotham-extra-narrow-book') format('svg');
}
@font-face {
	font-family: 'gotham-extra-narrow-light-italic';
	src: url('Gotham extra-narrow/gotham-extra-narrow-light-italic.eot?') format('eot'), 
	     url('Gotham extra-narrow/gotham-extra-narrow-light-italic.otf')  format('opentype'),
	     url('Gotham extra-narrow/gotham-extra-narrow-light-italic.woff') format('woff'), 
	     url('Gotham extra-narrow/gotham-extra-narrow-light-italic.ttf')  format('truetype'),
	     url('Gotham extra-narrow/gotham-extra-narrow-light-italic.svg#gotham-extra-narrow-light-italic') format('svg');
}
@font-face {
	font-family: 'gotham-extra-narrow-light';
	src: url('Gotham extra-narrow/gotham-extra-narrow-light.eot?') format('eot'), 
	     url('Gotham extra-narrow/gotham-extra-narrow-light.otf')  format('opentype'),
	     url('Gotham extra-narrow/gotham-extra-narrow-light.woff') format('woff'), 
	     url('Gotham extra-narrow/gotham-extra-narrow-light.ttf')  format('truetype'),
	     url('Gotham extra-narrow/gotham-extra-narrow-light.svg#gotham-extra-narrow-light') format('svg');
}
@font-face {
	font-family: 'gotham-extra-narrow-medium-italic';
	src: url('Gotham extra-narrow/gotham-extra-narrow-medium-italic.eot?') format('eot'), 
	     url('Gotham extra-narrow/gotham-extra-narrow-medium-italic.otf')  format('opentype'),
	     url('Gotham extra-narrow/gotham-extra-narrow-medium-italic.woff') format('woff'), 
	     url('Gotham extra-narrow/gotham-extra-narrow-medium-italic.ttf')  format('truetype'),
	     url('Gotham extra-narrow/gotham-extra-narrow-medium-italic.svg#gotham-extra-narrow-medium-italic') format('svg');
}
@font-face {
	font-family: 'gotham-extra-narrow-medium';
	src: url('Gotham extra-narrow/gotham-extra-narrow-medium.eot?') format('eot'), 
	     url('Gotham extra-narrow/gotham-extra-narrow-medium.otf')  format('opentype'),
	     url('Gotham extra-narrow/gotham-extra-narrow-medium.woff') format('woff'), 
	     url('Gotham extra-narrow/gotham-extra-narrow-medium.ttf')  format('truetype'),
	     url('Gotham extra-narrow/gotham-extra-narrow-medium.svg#gotham-extra-narrow-medium') format('svg');
}
