body{ font-family: "HelveticaNeueLTPro-MdCn"; }

.row { margin-left: 0px; margin-right: 0px; }
.bannerpublication { padding: 0px; }
.data-list img  { width: 52px; float: left;}
.row-item { font-family: "HelveticaNeueLTPro-MdCn"; font-size: 18px; color: #1586C4;}
.row-item span{ display: block; font-size: 14px; color: #666666;}
.row-item span.quantity{ font-size: 11px; }
.row-item > div > div { border-top: 1px solid #fff; /*border-bottom: 1px solid #fff;*/ height: 90px; padding: 8px 15px; }
.row-item:last-child > div > div { /*border-top: 1px solid #fff;*/ border-bottom: 1px solid #fff; height: 90px; padding: 8px 15px; }
.row-item .col-xs-1{ padding: 0px; }

.search-publications { background-color: #E5E5E5; padding-bottom: 50px; margin-top: 30px;}
.search-publications button.btn.btn-primary.glyphicon.glyphicon-search{font-size: 25px; }
.search-publications .title-label{font-size: 25px;}
.search-publications > div:first-child { background-color: #CCCCCC; padding: 20px 15px; }

.form-control{ padding: 25px 15px; font-family: "AGaramondPro-Regular"; text-transform: uppercase; }
.label { padding: .5em 1.0em .6em; } 

.data-list .most { height: 80px; padding: 50px 0px 0px 77px}

.bannerpublication { margin-top: 57px; }


@media(min-width:767px){ 
}
@media(min-width:1200px){ 
	.container {width: 1280px; }
}