
/*******************************************************************************************/
/******************************** Logo and link extra foother ******************************/
/*******************************************************************************************/
.footherText .bar { background-color: rgb(224, 224, 224); }
.footherText > div { padding: 1.0em  2.2em; }
.footherText .bar div > ul li { display: inline-block; padding: 0 1em 0 1em; text-transform: uppercase; color: rgb(33,135,193); }
.footherText .bar div > ul li.open { font-weight: bold; color: #F97C00 !important; }
.footherText .bar > div { display: inline-block; }