@charset "UTF-8";

@font-face {
  font-family: "idb-icons";
  src:url("fonts/idb-icons.eot");
  src:url("fonts/idb-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/idb-icons.woff") format("woff"),
    url("fonts/idb-icons.ttf") format("truetype"),
    url("fonts/idb-icons.svg#idb-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "idb-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "idb-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-btn-arrow-pulldown:before {
  content: "a";
}
.icon-btn-dot:before {
  content: "b";
}
.icon-btn-filledarrow-left:before {
  content: "c";
}
.icon-btn-filledarrow-right:before {
  content: "d";
}
.icon-icon-blogs-like:before {
  content: "e";
}
.icon-icon-blogs-share:before {
  content: "f";
}
.icon-icon-checkboxselected:before {
  content: "g";
}
.icon-icon-checkboxunselected:before {
  content: "h";
}
.icon-icon-closewindw:before {
  content: "i";
}
.icon-icon-drawer-minus:before {
  content: "j";
}
.icon-icon-drawer-plus:before {
  content: "k";
}
.icon-icon-facebook:before {
  content: "m";
}
.icon-icon-fb-answer:before {
  content: "n";
}
.icon-icon-fb-chat:before {
  content: "o";
}
.icon-icon-fb-like:before {
  content: "p";
}
.icon-icon-filter-clean:before {
  content: "q";
}
.icon-icon-filter-collapse:before {
  content: "r";
}
.icon-icon-filter-open:before {
  content: "s";
}
.icon-icon-gotop:before {
  content: "t";
}
.icon-icon-number1:before {
  content: "u";
}
.icon-icon-number2:before {
  content: "v";
}
.icon-icon-number3:before {
  content: "w";
}
.icon-icon-number4:before {
  content: "x";
}
.icon-icon-number5:before {
  content: "y";
}
.icon-icon-projectsbycountry:before {
  content: "A";
}
.icon-icon-projectsbysector:before {
  content: "B";
}
.icon-icon-radiobuttonselected:before {
  content: "C";
}
.icon-icon-radiobuttonunselected:before {
  content: "D";
}
.icon-icon-search:before {
  content: "E";
}
.icon-icon-sidebar-arrow:before {
  content: "F";
}
.icon-icon-sidebar-blog:before {
  content: "G";
}
.icon-icon-sidebar-fb:before {
  content: "H";
}
.icon-icon-sidebar-flag:before {
  content: "I";
}
.icon-icon-sidebar-twitter:before {
  content: "J";
}
.icon-icon-sidebar-youtube:before {
  content: "K";
}
.icon-icon-smedia-blogs:before {
  content: "L";
}
.icon-icon-smedia-facebook:before {
  content: "M";
}
.icon-icon-smedia-googleplus:before {
  content: "N";
}
.icon-icon-smedia-linkedin:before {
  content: "O";
}
.icon-icon-smedia-pinterest:before {
  content: "P";
}
.icon-icon-smedia-twitter:before {
  content: "Q";
}
.icon-icon-smedia-ytube:before {
  content: "R";
}
.icon-icon-subsectorbreakdown:before {
  content: "S";
}
.icon-icon-twitter:before {
  content: "T";
}
.icon-icon-twitter-answer:before {
  content: "U";
}
.icon-icon-twitter-retwett:before {
  content: "V";
}
.icon-icon-twitter-starred:before {
  content: "W";
}
.icon-icon-up:before {
  content: "X";
}
.icon-icon-ytube:before {
  content: "Y";
}
.icon-icon-ytube-like:before {
  content: "Z";
}
.icon-icon-ytube-play:before {
  content: "0";
}
.icon-icon-excel:before {
  content: "l";
}
.icon-icon-pdf:before {
  content: "z";
}
